#Ignore cats and dogs dataset
kagglecatsanddogs_5340/

#Ignore files that arent code
MyCode.egg-info/
checkgpu.py
oldXceptionBinaryClassifier.txt

#Ignore AI model (train your own!!)
save_at_1.keras

#Ignore dataset
Mushroom Classification.v1i.folder/

#Ignore virtual env (laptop)
.venv/

#Ignore the readmes
*.txt
*.toml

#Ignore cache
Code/Mycode/_pycache_/